*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	display: block;
	border: none;
	width: 100%;
	height: 100%;
}
.nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 103px;
	z-index: 999;
	background-color: #fff;
	border-bottom: 4px solid #eb435b;
}
.navbar{
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
	position: relative;
}
.navbar a img{
	float: left;
	height: auto;
	margin: 21px 0 21px 0;
	max-width: 180px;
	width: 15%;
}
.navbar .nav-tab{
	float: right;
	font-size: 18px;
	color: #6c6c6c;
	height: 30px;
	line-height: 30px;
	text-align: right;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 0;
}
.navbar .nav-tab li{
	height: 20px;
	line-height: 20px;
	border-right: 1px solid #6c6c6c;
	cursor: pointer;
	display: inline-block;
}
.navbar .nav-tab li:last-child{
	border: 0;
}
.navbar .nav-tab li a span{
	position: relative;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
}
.navbar .nav-tab li a span.red-color{
	margin-left: 0 !important;
	font-weight: 500;
	font-size: 18px;
	color: #fc475d;
}
.container{
	background-color: #fafafa;
}
.container .banner{
	margin: 107px auto 0 auto;
}
.container .main{
	width: 1200px;
	margin: 77px auto 30px auto;
	background-color:#fafafa;
}
.container .main .title-group{
	overflow: hidden;
	border-bottom: 1px solid #c1c1c1;
	padding-bottom: 17px;
	margin-top: 55px;
	margin-bottom: 45px;
}
.container .main .title-group .title{
	float: left;
	color: #363636;
	font-size: 20px;
}
.container .main .title-group .more{
	float: right;
	color: #868686;
	font-size: 18px;
	line-height: 22px;
	margin-right: 5px;
	cursor: pointer;
}
.container .main .content-group{
	overflow: hidden;
}
.container .main .content-group .cat-wrap{
	float: left;
	background-color: #fff;
	margin-right: 17px;
	margin-bottom: 17px;
	padding: 14px;
}
.container .main .content-group .cat-wrap:nth-child(4){
	margin-right: 0;
}
.container .main .content-group .cat-wrap img{
	width: auto;
	height: auto;
}
.container .main .content-group .subject-wrap{
	float: left;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 45px;
	margin-right: 45px;
}
.container .main .content-group .subject-wrap:hover{
	opacity: 0.7;
}
.container .main .content-group .subject-wrap:nth-child(2n){
	margin-right: 0;
}
.container .main .content-group .subject-wrap .subject{
	width: 556px;
	height: 276px;
}
.container .main .content-group .subject-wrap .goods-group{
	border:1px solid #f6f6f6;
	overflow: hidden;
}
.container .main .content-group .subject-wrap .goods-group .goods{
	background-color: #fff;
	float: left;
	margin: 0 12px;
	width: 160px;
	position: relative;
}
.container .main .content-group .subject-wrap .goods-group .goods .img{
	width: 125px;
	height: 125px;
	margin: 7px auto;
}
.container .main .content-group .subject-wrap .goods-group .goods .title{
	color: #111;
	font-size: 12px;
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.container .main .content-group .subject-wrap .goods-group .goods .price{
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}
.container .main .content-group .subject-wrap .goods-group .goods .price .group-price{
	font-size: 16px;
	color: #111;
}
.container .main .content-group .subject-wrap .goods-group .goods .price .market-price{
	color: #cbcbcb;
	font-size: 14px;
	text-decoration: line-through;
}
.pdd-left-code{
	position: fixed;
	bottom: 150px;
	left: 150px;
	z-index: 5;
}

.footer{
	background-color: #fff;
	padding-top: 60px;
	position: relative;
	width: 100%;
}
.footer .footer-head{
	color: #4d4d4d;
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 1000px;
	clear: both;
	overflow: hidden;
}
.footer .footer-head .footer-code{
	width: 666px;
}
.footer .footer-head .footer-code .qrcode{
	float: left;
	width: 162px;
	margin-right: 60px;
}
.footer .footer-head .footer-code .qrcode img{
	width: 100%;
}
.footer .footer-head .footer-code .qrcode p{
	margin: 8px auto;
	color: #4d4d4d;
	font-size: 16px;
	text-align: center;
}
.footer .footer-head .footer-code .qrcode p.word{
	width: 85%;
}
.footer .footer-head .footer-text{
	display: inline-block;
	padding-left: 50px;
	position: absolute;
	top: 0;
	width: 285px;
	border-left: 1px solid #4d4d4d;
}
.footer .footer-head .footer-text p{
	color: #4d4d4d;
	font-size: 15px;
	line-height: 16px;
	margin-top: 20px;
}
.footer .footer-head .footer-text p.footer-text-contact{
	font-size: 24px;
	line-height: 24px;
	margin: 0;
}
.footer .footer-head .footer-text p:nth-child(3){
	padding-left: 120px;
}
.footer .footer-nav{
	margin: 0 auto;
	margin-bottom: 60px;
	margin-top: 60px;
	max-width: 1200px;
	position: relative;
	text-align: center;
	width: 100%;
}
.footer .footer-nav .footer-nav-list{
	display: inline-block;
	position: relative;
}
.footer .footer-nav .footer-nav-list li{
	cursor: pointer;
	display: inline-block;
	border-right: 1px solid #c1c1c1;
}
.footer .footer-nav .footer-nav-list li a span{
	color: #6c6c6c;
	font-size: 16px;
	margin-left: 6px;
	margin-right: 6px;
}
.footer .footer-nav .footer-nav-list li:last-child{
	border-right: none;
}
.footer .footer-nav .footer-nav-list li a span:hover{
	color: #fc475d;
}
.footer .copyright{
	position: relative;
	background-color: #3f3e3e;
	height: 130px;
	font-size: 14px;
	text-align: center;
	color: #b1b1b1;
}
.footer .copyright .footer-cr{
	padding-top: 27px;
}
.footer .copyright .footer-medicine{
	padding: 17px 0;
}
.footer .copyright .footer-record{
	text-indent: 25px;
}
.footer .copyright .footer-record .record-img{
	background: url(img/sprite.png)-57px 0 no-repeat;
	background-size: 197px 64px;
	height: 20px;
	width: 20px;
	position: absolute;
	left: 45%;
	margin-left: -315px;
	bottom: 11px;
}
.footer .footer-record .footer-record-num{
	margin-left: 25px;
}
.footer .footer-record .driver{
	margin: 0 15px 0 15px;
}
.footer .footer-foot{
	text-align: center;
}
.footer .footer-foot img{
	display: inline-block;
	width: auto;
	height: auto;
	max-height: 50px;
	line-height: 50px;
	vertical-align: middle;
	margin: 10px;
}
.footer .footer-foot img.big-width{
	max-width: 137px;
}
